# Spark / Hadoop local runtime files
spark-warehouse/
.spark-warehouse/
metastore_db/
derby.log
_SUCCESS

# ignore output trees
*/output/
*/staged_output/
*/sentinel/
*/results/

# Python / virtual environment
.venv/
__pycache__/
*.py[cod]
*$py.class

# Ignore tempfiles.
*~
.DS_Store

# IDE project files
.idea/
.vscode/


# LaTeX build files
report/*.aux
report/*.bbl
report/*.bcf
report/*.blg
report/*.fdb_latexmk
report/*.fls
report/*.log
report/*.out
report/*.run.xml
report/*.synctex.gz
report/*.toc
report/*.lof
report/*.lot
report/*.nav
report/*.snm
report/*.vrb
